<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401423416709-80quu8vgbh0stp7v6memugraqdqsuf3k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401423416709-80quu8vgbh0stp7v6memugraqdqsuf3k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>401423416709-n279a4ecbjkuf44ja6mhvlclsoi009rc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFUsSbyiKnPpKldQpgbE7aObLRYmjpaUU</string>
	<key>GCM_SENDER_ID</key>
	<string>401423416709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zingo</string>
	<key>PROJECT_ID</key>
	<string>chat-app-88d8f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-88d8f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401423416709:ios:24c9fc174c029c67f898ec</string>
</dict>
</plist>